/* General body styling */
body {
  background-color: #f2f2f2;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0; /* Space for fixed header */
}

/* Header styling */
header {
  background-color: #2c3e50;
  color: #ecf0f1;
  /* padding: 20px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: end;
  align-items: center;
  /* max-width: 50%; */
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #2c3e50;
  color: #ecf0f1;
}
.title {
  min-width: 50%;
}

.header-container h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.header-container a {
  text-decoration: none;
}

.header-home-btn {
  background-color: #1abc9c;
  color: #ecf0f1;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header-home-btn:hover {
  background-color: #16a085;
}

a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.tikets-div {
  border: 2px solid #1abc9c28;
  border-radius: 8px;
  padding: 50px;
  margin: 25px auto;
  min-width: 50%;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.1);
}

button,
select {
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button {
  background-color: #55aaff;
  color: #fff;
}

button:hover {
  background-color: #0056b3;
}

.header-home-btn {
  background-color: #1abc9c;
  color: #ecf0f1;
}

.header-home-btn:hover {
  background-color: #16a085;
}

.scrollable-div {
  overflow: auto;
  max-height: 600px;
  max-width: 800px;
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollable-div::-webkit-scrollbar {
  display: none;
}

.button-div,
.home-buttons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
}

.form-container,
.form-paragraph {
  text-align: center;
}

.done-form {
  display: none;
}

.input-field {
  margin: 10px;
  padding: 10px;
  border: 2px solid #ecf0f1;
  border-radius: 5px;
  transition: border-color 0.5s ease;
}

.input-field:focus {
  outline: none;
  border-color: #1abc9c;
}

.error {
  color: rgb(185, 1, 1);
  transition: border-color 0.5s ease;
}

.input-error {
  border: 2px solid #fa7272;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: border-color 0.5s ease;
}

p {
  text-align: center;
}

::placeholder {
  color: #ccc;
}
.congratsText {
  text-align: center;
  padding: 30px;
}

/* Responsive design for mobile */
@media (max-width: 600px) {
  .header-container {
    flex-direction: column-reverse;
    padding: 10px;
  }

  .header-container h1 {
    font-size: 20px;
  }

  .header-home-btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  .tikets-div {
    padding: 20px;
    margin: 10px;
  }

  .scrollable-div {
    max-width: 120%;
    padding: 5px;
    margin: 5px;
  }

  button,
  select {
    padding: 8px 16px;
    margin: 5px;
    font-size: 14px;
  }
  .scrollable-div {
    flex-direction: column-reverse;
    margin: 0px;
    padding: 0px;
    max-height: none;
  }
}
